a, address, article, b, blockquote, big, 
center, caption, del, dfn, dl, div, dt, 
em, embed, fieldset, font, footer, form, h1, h3, h4, h6, header, 
i, iframe,  label, img, li, nav, object, ol, 
p, q, s, section, span, strong, sub, sup, td
table, th, tr, tdvideo, tt, u, ul,
var{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
    vertical-align: top; 
}

video {display:block}

ol, ul {}
blockquote, q {quotes: none;}
table, table td { 
	padding:10px;
	border:none;
	border-collapse:collapse;
}
img {vertical-align:top;}
embed {vertical-align:top;}

#GambarKeterangan15 {    
    opacity: 0.7;    
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#GambarKeterangan16{    
    opacity: 0.7;    
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#GambarKeterangan17 {    
    opacity: 0.7;    
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#GambarKeterangan18 {    
    opacity: 0.7;
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#GambarKeterangan19 {    
    opacity: 0.7;    
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#GambarKeterangan20 {    
    opacity: 0.7;    
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#GambarKeterangan21 {    
    opacity: 0.7;    
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#GambarKeterangan22 {    
    opacity: 0.7;    
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#GambarKeterangan23{    
    opacity: 0.7;    
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#GambarKeterangan24{    
    opacity: 0.7;    
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#GambarKeterangan25{    
    opacity: 0.7;    
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#GambarKeterangan26{    
    opacity: 0.7;    
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#GambarKeterangan27{    
    opacity: 0.7;    
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#GambarKeterangan28{    
    opacity: 0.7;    
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#GambarKeterangan29{    
    opacity: 0.7;    
    background-color: black;    
    margin-top: 160px;
    width: 100%;
    height: 160px;    
    color: white;    
}
#Gambar15{   
    width: 32.8%;
    height: 360px;    
    float: left;    
    background-color: white;    
    background-image: url(../images/labenergi.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
	border-left: #73C14D solid 1pt;
    border-right: #73C14D solid 1pt;
}
#Gambar16 {  
    width: 32.8%;
    height: 360px;    
    float: left;    
    background-color: white;    
    background-image: url(../images/albert.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
    border-right: #73C14D solid 1pt;    
}
#Gambar17 {    
    width: 32.8%;
    height: 360px;    
    float: left;    
    background-color: white;    
    background-image: url(../images/bipol2.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
	border-right: #73C14D solid 1pt; 
}
#Gambar18{  
    width: 32.8%;
    height: 360px;    
    float: left;    
    background-color: white;    
    background-image: url(../images/labmesin.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
	border-left: #73C14D solid 1pt;
	border-right: #73C14D solid 1pt;    
}
#Gambar19{       
    width: 32.8%;
    height: 360px;    
    float: left;    
    background-color: white;    
    background-image: url(../images/redhouse.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
	border-right: #73C14D solid 1pt;
}
#Gambar20 {
    width: 32.8%;
    height: 360px;
    float: left;
    background-color: white;
    background-image: url(../images/pusgiwa.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    border-right: #73C14D solid 1pt;
}
#Gambar21 {
    width: 32.8%;
    height: 360px;    
    float: left;    
    background-color: white;    
    background-image: url(../images/daim2.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
	border-left: #73C14D solid 1pt;
	border-right: #73C14D solid 1pt;    
}
#Gambar22{
    width: 32.8%;
    height: 360px;    
    float: left;    
    background-color: white;    
    background-image: url(../images/parkirut.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
	border-right: #73C14D solid 1pt;
}
#Gambar23{  
    width: 32.8%;
    height: 360px;    
    float: left;    
    background-color: white;    
    background-image: url(../images/labak.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
	border-left: #73C14D solid 1pt; 
}
#Gambar24{   
    width: 32.8%;
    height: 360px;    
    float: left;    
    background-color: white;    
    background-image: url(../images/labtelkom.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
	border-left: #73C14D solid 1pt;
	border-right: #73C14D solid 1pt;    
}
#Gambar25{   
    width: 32.8%;
    height: 360px;    
    float: left;    
    background-color: white;    
    background-image: url(../images/kolam_renang.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
	border-right: #73C14D solid 1pt;    
}
#Gambar26{    
    width: 32.8%;
    height: 360px;    
    float: left;    
    background-color: white;    
    background-image: url(../images/kawah.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
	border-left: #73C14D solid 1pt;
}
#Gambar27{
    width: 32.8%;
    height: 360px;    
    float: left;    
    background-color: white;    
    background-image: url(../images/kantek.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
	border-left: #73C14D solid 1pt;
	border-right: #73C14D solid 1pt;
    
}
#Gambar28{  
    width: 32.8%;
    height: 360px;    
    float: left;    
    background-color: white;    
    background-image: url(../images/atm.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
	border-right: #73C14D solid 1pt;    
}
#Gambar29{  
    width: 32.8%;
    height: 360px;    
    float: left;    
    background-color: white;    
    background-image: url(../images/gsg.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
	border-left: #73C14D solid 1pt;  
}
